<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.livewall.lawwalletfinalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LawWalletFinalYearProject"
        tools:targetApi="31">
        <activity
            android:name=".check.CheckActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".LaywerActivity.ChatwithuserActivityLawyer"
            android:exported="false" />
        <activity
            android:name=".UserActivity.ChatBoxActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ScanActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".UserActivity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LaywerActivity.AlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".LaywerActivity.LawyerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DemoActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity.AdminDashboard"
            android:exported="true" />
        <activity
            android:name=".UserActivity.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".LaywerActivity.LawyerDashboard"
            android:exported="true" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="true" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".Activity.ForgotpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">

        </activity>
    </application>

</manifest>